{% assign group = site.standards | where: "collection-folder", page.collection-folder %}
 {{ group | inspect}}

{% if group %}
<aside id="toc-aside" class="desktop:grid-col-3 margin-bottom-2 bg-white">
  <nav role="navigation" class="toc-subnav usa-accordion" aria-multiselectable="true" aria-label="Table of contents subnavigation">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <button class="usa-accordion__button"
          aria-expanded="true"
          aria-controls="subnav-list"
        >
          Table of Contents
        </button>
        <ul id="subnav-list" class="usa-accordion__content usa-sidenav__sublist">
          {% for section in group %}
            {% assign level-1 = site.standards | where: "level", "1" | sort:"order-number" %}
            {% if level-1 %}
         
            <li class="usa-sidenav__item">
              {% if page.title == section.title %}
              <button class="subnav-anchor usa-current usa-accordion__button"
                aria-expanded="true"
                aria-controls="subsections"
              >
                {{ section.title }}
              </button>
                <ul id="subsections" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                </ul>
              {% else %}
              <a
                class="subnav-anchor"
                href="{{site.baseurl}}{{ section.url }}"
              >
                {{ section.title }}
              </a>
              {% endif %}

            {% else %}
            {% assign level-2 = site.standards | where: "level", "2" | sort:"order-number" %}
            {% if level-2 %}
            <button class="subnav-anchor usa-current usa-accordion__button"
            aria-expanded="true"
            aria-controls="subsections"
          >
            { section.title } to add
          </button>
            <ul id="subsections" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
            </ul>
                <li class="usa-sidenav__item">
                  {% if page.title == section.title %}
                  <button class="subnav-anchor usa-current usa-accordion__button"
                    aria-expanded="true"
                    aria-controls="subsections"
                  >
                    {{ section.title }}
                  </button>
                    <ul id="subsections" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                    </ul>
                  {% else %}
                  <a
                    class="subnav-anchor"
                    href="{{site.baseurl}}{{ section.url }}"
                  >
                    {{ section.title }}
                  </a>
                  {% endif %}



            {% endif %}

          {% endif %}
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</aside>
{% endif %}
