{% assign this-collection = site.standards | where: "collection-folder", page.collection-folder | group_by: 'collection-title' %}
{% for group in this-collection %}
<h2>{{ group.name | capitalize }}</h2>
    <ul>
      {% assign items = group.items | sort: 'order-number' %}
      {% for item in items %}
        {% if item.collection-sub-folder %}
            {% assign sub-collection = site.standards | group_by: 'collection-sub-folder' %}
            {% for section in sub-collection %}
            <h3>{{ section.name | capitalize }}</h3>
            <ul>
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            </ul>
            {% endfor %}
        {% else %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endif %}

    {% endfor %}
    </ul>
{% endfor %}