    <h4>ADAAG for Vehicles</h4>
    <p>Featured links</p>
    <ul class="usa-list usa-list--unstyled padding-top-2">
    
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/vehicles/update/rail-cars/">Update of Guidelines for Rail Cars</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/vehicles/update/buses-and-vans/">Update of Guidelines for Buses and Vans</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/vehicles/adaag-1998/">ADAAG for Vehicles (1998)</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/vehicles/guides/">Guide to ADAAG for Vehicles</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/guides/animations/">Animations</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/background/">Background information</a>
      </li>
    </ul>
    {% include technical-assistance.html %}